*{
    box-sizing: border-box;
}

body{
    background: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #404040;
    font-size: 11pt;


}

h1{
    color: #A4A400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-style: bold;
    font-size: 22pt;
}

h2{
    color: #A4A400;
    background-color: #f0f0f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-style: normal;
    font-size: 18pt;
}

a{
    color: #A4A400;
}